body {
    margin: 0px;
    /* sacamos todo los espacio en blanco, no hay margen con respecto a los bordes de las ventanas*/
    background-image: url(aurora.jpg);
    /*para centrarla en la pantalla y debajo de la imagen principal*/
    background-repeat: no-repeat;
    /*no se repite la imagen*/
    background-position: center;
    background-size: 100% 100%;
    /*Valor predeterminado. La imagen de fondo se muestra en su tamaño original*/
    background-attachment: fixed;
    /*La background-attachmentpropiedad establece si una imagen de fondo se desplaza con el resto de la página o si es fija.*/
}

* {
    box-sizing: border-box;
    /*nos permite incluir el relleno y el borde en el ancho (y alto) total de la caja, asegurándonos de que el relleno quede dentro de la caja y que no se rompa*/
}

.contenedorMenu {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    /*creamos el contenedor de nuestro menu, lo ubicamos en una ubicacion absoluta para que se superponga con la imagen de inicio*/
    float: none;
}

.menu {
    position: fixed;
    /*le colocamos posicion fija para que se mantenga en el mismo lugar siempre que se haga scroll*/
    display: flex;
    /*Muestra un elemento como un contenedor flexible a nivel de bloque*/
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    justify-content: center;
    /*Alinea los elementos flexibles en el centro del contenedor HORIZONTAL*/
    align-items: center;
    /*Alinea los elementos flexibles en el centro del contenedor VERTICAL*/
    background-color: rgba(0, 0, 0, 0.8);
    /*Transparencia usando RGBA: no se aplica opacidad a los elementos secundarios*/
}

.botones {
    height: 40px;
    width: 300px;
    display: flex;
    /*Muestra un elemento como un contenedor flexible a nivel de bloque*/
    justify-content: center;
    /*Alinea los elementos flexibles en el centro del contenedor HORIZONTAL*/
    align-items: center;
    /*Alinea los elementos flexibles en el centro del contenedor VERTICAL*/
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    /*quitamos el borde*/
    font-size: 25px;
    transition-duration: 0.4s;
}

a {
    text-decoration: none;
    /*La text-decoration propiedad se usa principalmente para eliminar los subrayados de los enlaces:*/
    color: white;
}

.botones:active {
    /*BOTONES ANIMADOS Agregue un efecto "presionado" al hacer clic:*/
    background-color: rgba(0, 250, 254, 0.491);
    transform: translateY(2px);
}

.botones:hover {
    /*selector para cambiar el estilo de un botón cuando pasas el mouse sobre él.*/
    background-color: rgba(0, 250, 254, 0.491);
    color: white;
    box-shadow: 0 0px 10px 5px rgba(0, 250, 254, 0.491);
    /*box-shadow propiedad para agregar sombras a un botón:*/
    cursor: pointer;
}

h1 {
    text-align: center;
    color: white;
    font-size: 4em;
}

.contenedorFormulario {
    margin-top: 30px;
    width: 50%;
    height: 660px;
    margin-left: 25%;
    box-shadow: 0 0px 100px 5px rgba(7, 234, 234, 0.67);
    /*box-shadow propiedad para agregar sombras a un botón:*/
    background-color: rgba(6, 64, 64, 0.897);
    display: flex;
    /*Muestra un elemento como un contenedor flexible a nivel de bloque*/
    flex-direction: column;
    /*apila los elementos flexibles verticalmente (de arriba a abajo):*/
}

input {
    width: 90%;
    margin-top: 10px;
    border-style: inset;
    height: 50px;
    border-radius: 15px;
    font-size: 2em;
    background-color: rgba(211, 248, 248, 0.553);
}

label {
    font-size: 2em;
}

.columnas {
    float: left;
    /*Especifica que un elemento deba flotar hacia la izquierda*/
    width: 50%;
    height: 500px;
    text-align: center;
    color: white;
}

textarea {
  border-radius: 20px;
  /*bordes con un estilo redondo*/
  background-color: rgba(211, 248, 248, 0.553);
  font-size: 2.1em;
  border-style: inset;
  margin-left: 10px;
  margin-top: 10px;
  height: 400px;
  width: 100%;
}

.contendorColumnas {
    height: 500px;
}

.contenedorMensaje{
    margin-top: 100px;
    width: 50%;
    height: 300px;
    margin-left: 25%;
    box-shadow: 0 0px 100px 5px rgba(7, 234, 234, 0.67);
    /*box-shadow propiedad para agregar sombras a un botón:*/
    background-color: rgba(6, 64, 64, 0.897);
    display: flex;
    /*Muestra un elemento como un contenedor flexible a nivel de bloque*/
    flex-direction: column;
    /*apila los elementos flexibles verticalmente (de arriba a abajo):*/
}

div p{
    margin-top: 0;
    margin-bottom: 5px;
    width: 80%;
    margin-left: 10%;
    color: red;
    font-size: 1.2em;
    visibility:hidden;
}
.submit{
    margin-top: 45px;
}









.final {
    margin-top: 100px;
    background-color: rgba(247, 245, 245, 0.688);
    color: rgb(0, 0, 0);
    font-size: 22px;
}

span {
    font-weight: bold;
}